[Unit]
Description=Nginx web server proxying uwsgi backends %i: create directories

Requires=etcd2.service

After=etcd2.service

[Service]
Type=simple

User=root
Group=root

TimeoutStartSec=0

KillMode=none

Environment='ETCDCTL_OPTS=\
    --endpoint https://127.0.0.1:2379 \
    --cert-file /etc/ssl/self-signed/client.pem \
    --key-file /etc/ssl/self-signed/client-key.pem \
    --ca-file /etc/ssl/self-signed/ca.pem'

Environment='SSH_OPTS=\
    -n \
    -o StrictHostKeyChecking=no \
    -o UserKnownHostsFile=/dev/null'

Environment="RSYNC_COMMON_OPTS=\
    -avzP \
    --rsh 'ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'"

ExecStart=/bin/etcdctl $ETCDCTL_OPTS exec-watch --recursive \
    /services/nginx/servers -- \
    bash -c ' \
    	set -e -o pipefail; \
    	ETCDCTL_OPTS=${0}; \
    	SSH_OPTS=${1}; \
    	RSYNC_COMMON_OPTS=${2}; \
        NGINX_DOMAIN=$(echo "$ETCD_WATCH_KEY" | cut -d "/" -f5); \
        UWSGI_SERVER=($(etcdctl $ETCDCTL_OPTS ls /services/uwsgi)); \
        echo "$ETCDCTL_OPTS"; \
        echo "$SSH_OPTS"; \
        echo "$RSYNC_COMMON_OPTS"' "$ETCDCTL_OPTS" "$SSH_OPTS" "$RSYNC_COMMON_OPTS"

ExecStop=/usr/bin/kill $MAINPID


[X-Fleet]
MachineOf=nginx@%i.service
