[Unit]
Description=Nginx web server proxying uwsgi backends %i: collect static files

Requires=etcd2.service

After=etcd2.service
BindsTo=nginx@%i.service

[Service]
Type=oneshot

User=core
Group=core

Environment='ETCDCTL_OPTS=\
    --endpoint https://127.0.0.1:2379 \
    --cert-file /etc/ssl/self-signed/client.pem \
    --key-file /etc/ssl/self-signed/client-key.pem \
    --ca-file /etc/ssl/self-signed/ca.pem'

Environment='RSYNC_COMMON_OPTS=\
    -avzP \
    --rsh "ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null"'

Enviroment='SSH_OPTS=\
    -n \
    -o StrictHostKeyChecking=no \
    -o UserKnownHostsFile=/dev/null'

ExecStart=/bin/bash -c '\
    set -e -o pipefail; \
    ssh ${SSH_OPTS} core@10.135.44.225 "\
        docker exec nginx \
            python /usr/share/webapp/manage.py collectstatic --noinput"; \
    rsync --force --delete ${RSYNC_COMMON_OPTS} \
        core@$10.135.44.225:/usr/share/webapp/static/ /var/www/yuan.com.tr/static'


[X-Fleet]
MachineOf=nginx@%i.service

ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -n \
            core@$SERVER_PUBLIC_IP "\
                sudo $SERVER_NAME/setetcd.sh; \
                sudo $SERVER_NAME/setip.sh; \
                cp $SERVER_NAME/id_rsa{,.pub} ~/.ssh/"
