[Unit]
Description=Nginx web server proxying uwsgi backends %i: etcd registration

Requires=etcd2.service

After=etcd2.service
BindsTo=nginx@%i.service

[Service]
Type=oneshot

User=core
Group=core

RemainAfterExit=yes

EnvironmentFile=/etc/environment

Environment='ETCDCTL_OPTS=\
    --endpoint https://127.0.0.1:2379 \
    --cert-file /etc/ssl/self-signed/client.pem \
    --key-file /etc/ssl/self-signed/client-key.pem \
    --ca-file /etc/ssl/self-signed/ca.pem'

ExecStart=/bin/bash -c '{ \
    set -e -o pipefail; \
    etcdctl $ETCDCTL_OPTS mkdir /services/nginx/domains; \
    etcdctl $ETCDCTL_OPTS set /services/nginx/worker_processes 1; \
    etcdctl $ETCDCTL_OPTS set /services/nginx/worker_connections 1024; \
    etcdctl $ETCDCTL_OPTS set /services/nginx/sendfile on; \
    etcdctl $ETCDCTL_OPTS set /services/nginx/tcp_nopush on; \
    etcdctl $ETCDCTL_OPTS set /services/nginx/keepalive_timeout 65; \
    etcdctl $ETCDCTL_OPTS set /services/nginx/tcp_nodelay on; \
    etcdctl $ETCDCTL_OPTS set /services/nginx/gzip on; \
} > /dev/null'

ExecStop=/bin/bash -c 'etcdctl $ETCDCTL_OPTS rm /services/nginx --recursive'

[X-Fleet]
MachineOf=nginx@%i.service
