[Unit]
Description=Nginx web server proxying uwsgi backends %i: collect static files

Requires=etcd2.service

After=etcd2.service
BindsTo=nginx@%i.service

[Service]
Type=simple

User=core
Group=core

TimeoutStartSec=0

KillMode=none

Environment='ETCDCTL_OPTS=\
    --endpoint https://127.0.0.1:2379 \
    --cert-file /etc/ssl/self-signed/client.pem \
    --key-file /etc/ssl/self-signed/client-key.pem \
    --ca-file /etc/ssl/self-signed/ca.pem'

Environment='SCRIPT=/etc/yuan/script'

ExecStartPre=/bin/bash -c '\
    set -e -o pipefail; \
    DIR=$(mktemp -d); \
    git clone https://github.com/YuanModu/coreos-files.git $DIR; \
    sudo -u root mkdir -p $SCRIPT; \
    sudo -u root install -m755 $DIR/scripts/nginx-files.sh $SCRIPT/; \
    rm -r -f $DIR'

ExecStart=/bin/etcdctl $ETCDCTL_OPTS exec-watch --recursive \
    /services/nginx/servers -- bash /etc/yuan/script/nginx-files.sh

ExecStop=/usr/bin/kill $MAINPID


[X-Fleet]
MachineOf=nginx@%i.service
