[Unit]
Description=Nginx web server proxying uwsgi backends %i: collect static files

After=nginx@%i.service
BindsTo=nginx@%i.service

[Timer]
OnCalendar=minutely

[X-Fleet]
MachineOf=nginx@%i.service
