[Unit]
Description=Nginx web server proxying uwsgi backends %i

Requires=docker.service
Requires=nginx-build@%i.service
Requires=nginx-discovery@%i.service

After=docker.service
After=nginx-build@%i.service
After=nginx-discovery@%i.service

[Service]
Type=simple

User=core
Group=core

TimeoutStartSec=0

KillMode=none

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker stop nginx
ExecStartPre=-/usr/bin/docker rm -v -f nginx
ExecStartPre=/usr/bin/docker create \
    --name nginx \
    --env COREOS_HOSTNAME=%H \
    --volume /mnt/nginx/certificates/letsencrypt:/etc/letsencrypt:ro \
    --volume /mnt/nginx/staticfiles:/var/www \
    -p ${COREOS_PUBLIC_IPV4}:80:80 \
    -p ${COREOS_PUBLIC_IPV4}:443:443 \
    yuanmodu/nginx
ExecStart=/usr/bin/docker start -a nginx

ExecStop=/usr/bin/docker stop nginx
ExecStopPost=/usr/bin/docker rm -v -f nginx

[X-Fleet]
MachineMetadata=hostname=%i
Conflicts=nginx@*.service
Conflicts=uwsgi@*.service
Conflicts=postgres@*.service
