{
    "CN": "${SERVER_NAME}",
    "hosts": [
        "${SERVER_NAME}",
        "${SERVER_NAME}.local",
        "127.0.0.1",
        "${SERVER_PRIVATE_IP}"
    ],
    "key": {
        "algo": "rsa",
        "size": 2048
    },
    "names": [
        {
            "C": "TR",
            "ST": "Izmir"
        }
    ]
}
