[Unit]
Description=uWSGI server %i

Requires=docker.service
Requires=uwsgi-build@%i.service
Requires=uwsgi-discovery@%i.service

After=docker.service
After=uwsgi-build@%i.service
After=uwsgi-discovery@%i.service

[Service]
Type=simple

User=core
Group=core

TimeoutStartSec=0

KillMode=none

EnvironmentFile=/etc/environment

# TODO: Decide whether we can mount the coreos volume under an alternative variable mount point.

ExecStartPre=-/usr/bin/docker rm -v -f uwsgi
ExecStartPre=/usr/bin/docker create \
    --name uwsgi \
    --env INSTANCE=%i \
    --volume /mnt/uwsgi-%i/webapp:/usr/share/webapp:ro \
    -p ${COREOS_PRIVATE_IPV4}:8000:8000 \
    -p ${COREOS_PRIVATE_IPV4}:5432:5432 \
    yuanmodu/uwsgi
ExecStart=/usr/bin/docker start -a uwsgi

ExecStop=/usr/bin/docker stop uwsgi
ExecStopPost=/usr/bin/docker rm -v uwsgi

[X-Fleet]
Conflicts=nginx.service
Conflicts=uwsgi@*.service
Conflicts=postgres@*.service
