[Unit]
Description=Wagtail server %i: build docker image

Requires=docker.service

After=docker.service
BindsTo=wagtail@%i.service

[Service]
Type=oneshot

User=core
Group=core

RemainAfterExit=yes

TimeoutStartSec=0

ExecStart=/bin/bash -c '\
    set -e -o pipefail; \
    DIR=$(mktemp -d); \
    git clone https://github.com/YuanModu/coreos-files.git $DIR; \
    sudo install -o core -g core \
        /etc/etcd/ssl/{ca,client,client-key,server,server-key}.pem $DIR/dockerfiles/build/wagtail; \
    docker build -t yuanmodu/wagtail $DIR/dockerfiles/build/wagtail || rm -r $DIR; \
    rm -r -f $DIR'

ExecStop=/bin/bash -c '\
    docker rmi yuanmodu/wagtail || true'

[X-Fleet]
MachineOf=wagtail@%i.service
