[Unit]
Description=Wagtail server %i

Requires=docker.service
Requires=wagtail-build@%i.service
Requires=wagtail-discovery@%i.service

After=docker.service
After=wagtail-build@%i.service
After=wagtail-discovery@%i.service

[Service]
Type=simple

User=core
Group=core

TimeoutStartSec=0

KillMode=none

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker rm -v -f wagtail
ExecStartPre=/usr/bin/docker create \
    --name wagtail \
    --env INSTANCE=%i \
    --volume /mnt/python-%i/webapp:/usr/share/webapp \
    yuanmodu/wagtail
ExecStart=/usr/bin/docker start -a wagtail

ExecStop=/usr/bin/docker stop wagtail
ExecStopPost=/usr/bin/docker rm -v wagtail

[X-Fleet]
MachineOf=uwsgi@%i.service
Conflicts=nginx.service
Conflicts=wagtail@*.service
Conflicts=postgres@*.service
